.slide-arrow {
  color: gray;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 15%;

}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}
.carousel h1{
  margin-left: 40%;
}

.btn-primary {
  background-color: #23aa4e;
  border-color: #177d37;
}

#example {
  margin: 3rem;
}

.customContainer {
  border: 1px solid black;
}

.resize: hover{
  color: rgba(255, 0, 0, 0.5);
}
